
body{
  background-color: #9c7d6e;
  

}
nav{
    background: #3a3845;  
    height: 20vh;
  width: 100%;
  backdrop-filter: blur(60px);
  
}
nav h1{
  margin-left: 100px;
}
nav ul {
    
    color: darkgray;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-top: 0%;
    margin-right: 20%;
}
  
nav ul a {
  text-decoration: none;
    display: inline-block;
    margin-top: 5px;
 
}
  
nav ul li {
 
    display: inline-block;
    margin-top: 30px;
  
}

a.active {
  background: #f7ccac;
  color: white;
  padding: 12px 5px;
 
  border-radius: 10px;
  transition: transform 1s; 
}
a.active:hover{
transform: scale(1.2);
}
nav p{
transition: transform 1s; 
}
nav p:hover{
transform: scale(1.2);
}

nav a{
color: black;
}
nav a:visited{

text-decoration: none;
}



*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400 px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
