
body{
  background-color: #9c7d6e;
  

}
nav{
    background: #3a3845;  
    height: 30vh;
  width: 100%;
  backdrop-filter: blur(60px);
  
}

nav ul {
  margin-top: -2.5%;
  margin-left: 40%;
  color: rgb(255, 255, 255);
  font-size: medium;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
nav h1{
  background:#3a3845 ;
  margin-left: -0%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 6ch;
  font-weight: bold;
  
}
.cta {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
position: relative;
margin: 1%;
padding: 19px 22px;
transition: all 0.2s ease;
text-decoration: none;
}
.cta:before {
content: "";
position: absolute;
top: 0;
left: 0;
display: block;
border-radius: 28px;
background: #ffab9d;
width: 56px;
height: 56px;
transition: all 0.3s ease;
text-decoration: none;
}
.cta span {
position: relative;
font-size: 16px;
line-height: 18px;
font-weight: 900;
letter-spacing: 0.25em;
text-transform: uppercase;
vertical-align: middle;
text-decoration: none;
}
.cta svg {
  text-decoration: none;
position: relative;
top: 0;
margin-left: 10px;
fill: none;
stroke-linecap: round;
stroke-linejoin: round;
stroke: #111;
stroke-width: 2;
transform: translateX(-5px);
transition: all 0.3s ease;
}
.cta:hover:before {
  text-decoration: none;
width: 100%;
background: #ffab9d;
}
.cta:hover svg {
transform: translateX(0);
}
.cta:active {
transform: scale(0.96);
text-decoration: none;
}

.cta:visited{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500 px;
  position: relative;
  margin: auto;
}
 .mySlides img{

  margin-left: 21%;
}
/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: 100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
 margin-left: -4%;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/11 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
 position:relative;
 margin-left: 45%;
  top: 0;
}

/* The dots indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}