
body{
    background-color: #826f66;
    
 
  }
  nav{
      background: #3a3845;  
      height: 55vh;
    width: 100%;
    backdrop-filter: blur(60px);
    
  }
  nav ul {
      
      color: darkgray;
      font-size: medium;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      float: left;
      margin-top: 0%;
      margin-right: 20%;
  }
    
  nav ul a {
    text-decoration: none;
      display: inline-block;
      margin-top: 5px;
   
  }
    
  nav ul li {
   
      display: inline-block;
    
  }
  nav img{
    width: 200px;margin: 30px;
  

  }
  a.active {
    background: #f7ccac;
    color: white;
    padding: 12px 5px;
   
    border-radius: 10px;
    transition: transform 1s; 
}
a.active:hover{
  transform: scale(1.2);
}
nav p{
  transition: transform 1s; 
}
nav p:hover{
  transform: scale(1.2);
}

nav a{
color: black;
}
nav a:visited{
 
  text-decoration: none;
}

  h1{
      text-align: center;
      margin-left: 100%;
      color: white;
      font-family: 'Courier New', Courier, monospace;
      font-size: 8ch;
      font-weight: bold;
      
  }
  p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
      font-size: 2ch;
  }
  p1 p{
    
      display: inline-block;
      background:#f7ccac;
      color: white;
      padding: 10px 15px;
      border-radius: 20px;
      margin-right: 60px;
      text-decoration: none;
  }
  h2{
    align-items: center;
     
  }
  div{
    text-decoration: none;
      background:#bea194;
      margin: 3%;
      font-size: 3ch;
      padding: 20px 30px;
      border-color: black;
      border-radius: 20px;
      margin-right: 60px;
  }

div.toTop {

  background: #f7ccac;
  color: white;
  border-radius: 100px;
  display: inline-block;

  }
  div.toTop a{
    color:black;
font-size: 0.8em;;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bold;
      text-decoration: none;
    
  }
  div.toTop a:visited{
 
    text-decoration: none;
  }


