
body{
    background-color: #9c7d6e;
    
 
  }
  nav{
      background: #3a3845;  
      height: 50vh;
    width: 100%;
    backdrop-filter: blur(60px);
    
  }
  nav h1{
    margin-left: 100px;
  }
  nav ul {
      
      color: darkgray;
      font-size: medium;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      float: left;
      margin-top: 0%;
      margin-right: 20%;
  }
    
  nav ul a {
    text-decoration: none;
      display: inline-block;
      margin-top: 5px;
   
  }
    
  nav ul li {
   
      display: inline-block;
      margin-top: 30px;
    
  }

  a.active {
    background: #f7ccac;
    color: white;
    padding: 12px 5px;
   
    border-radius: 10px;
    transition: transform 1s; 
}
a.active:hover{
  transform: scale(1.2);
}
nav p{
  transition: transform 1s; 
}
nav p:hover{
  transform: scale(1.2);
}

nav a{
color: black;
}
nav a:visited{
 
  text-decoration: none;
}

  h1{
      text-align: center;
      margin-left: 100%;
      color: white;
      font-family: 'Courier New', Courier, monospace;
      font-size: 8ch;
      font-weight: bold;
      
  }
  .link{
    color: white;
    font-family: 'Courier New', Courier, monospace;
      font-size: 1.4ch;
      position: absolute  ;
      
  }
  .link p{
      display: inline-block;

      background:#f7ccac;
      color: white;
      padding: 9px 15px;
      border-radius: 20px;
      margin-left: 20px;
      text-decoration: none;
  }
  h2{
    align-items: center;
     
  }
  .writings{
    text-decoration: none;
      background:#ffe2ce;
      margin: 3%;
      font-size: 2.5ch;
      padding: 20px 30px;
      border-color: black;
      border-radius: 20px;
      margin-right: 60px;
  }

.toTop {
  text-decoration: none;
      background:#ffe2ce;
      margin: 3%;
      font-size: 2.5ch;
      padding: 20px 30px;
      border-color: black;
      border-radius: 20px;
      margin-right: 60px;
  background: #f7ccac;
  color: white;
  border-radius: 100px;
  display: inline-block;

  }
  .toTop a{
    color:black;
font-size: 0.8em;;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bold;
      text-decoration: none;
    
  }
  .toTop a:visited{
 
    text-decoration: none;
  }


