body {
  background-color: #826f66;
}

nav {
  background: #3a3845;
  height: 46vh;
  width: 100%;
  padding-bottom: 2%;
  color: black;
  font-family: "Times New Roman", Times, serif;
  backdrop-filter: blur(5px);
}

.logo {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
 
  line-height: 200px;

  margin-top: 300px;

}

span{
  
  animation: blinker 1s liner infinite;
}

@keyframes blinker{
  50%{
    opacity:0 ;
  }
}

.typeWriter{
  color: white;
  font-size: 6ch;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 20px;
}


.wrapper {
display: grid;
  place-items: center;
}


nav ul {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 18.5%; 
}
nav ul :hover{
  border-radius: 10px;
}
nav ul li {
  display: inline-block;
  margin-right: 126px;
  margin-top: 50px;

}
.zoom {
  display: inline-block;
  transition: transform 0.35s; 
}
.zoom:hover {
  transform: scale(1.1);
}
.info{
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  line-height: 200px;
  margin-left: 40.5%;
  margin-top: 300px;
}
a.active {
  background: #f7ccac;
  color: white;
  font-size: 2ch;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
}

.container {
  height: 100%;
  font-family: "nunito", sans-serif;

}
.card {
  margin-top: 5%;
  margin-bottom: 30px;
margin-left: 20px;
  padding: 100px;

  clip-path: circle(5% at 50% 25%);
  transition: all ease-in-out 0.3s;
  background-color: #3e384b;
  transition: 2s;
}

  .card__infoicon {
    position: absolute;
   font-size: 1.4em;
    color: #000000;
    transition: ease-out 0.3s;
  }
  .card__title {
    margin: 0;
    color:white;
    font-size: 3em;

  }
  .card__description {
    margin: 0;
  

    font-size: 1.1em;
  }
  .card__credits {
    margin: 0;
    padding: 4px 0;

    font-size: 1.1em;
  }
  .card__reference {
    display: inline-block;

    border-bottom: 1px solid transparent;
  
    text-decoration: none;
    transition: 0.3s;
  }
  :focus {
    clip-path: circle(100%);
    margin-right: 30px;
    border-radius: 50px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12),
      0px 3px 18px rgba(0, 0, 0, 0.08);
    background: #f7ccac;

    outline: none;
  }
  
  :focus {
    box-shadow: 0px 3px 9px rgba(255, 255, 255, 0.12),
      0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
  }

.contact{
    font-size: 2.3em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
   margin-top: -50px;
    margin-left: 39%;
  }


  
.contact {
    position: relative;
    display: flex;

  }
  @keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1) translateY(0); }
    30%  { transform: scale(1,1.1)translateY(-90px);}
    50%  { transform: scale(1,.5) translateY(0); }
    58%  { transform: scale(1,1) translateY(-9px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}

.contact{
animation: bounce 2s ease infinite;
}


footer {
  text-decoration: none;
  background-color: #3e384b;
  display: inline-block;
  padding: 50px;

  font-family: 'Courier New', Courier, monospace;
  margin: 50px;
  margin-left: 27.5%;
  font-weight: bold;
  color: white;
}
.email a{
  background: #b299ea;
  color: white;
  font-size: 1.8ch;
  margin-left: 18%;
  padding: 2px 50px;
  border-radius: 20px;
  text-decoration: none;
  text-decoration: none;
}

.email h1{
  margin-left: 30%;
  padding-bottom: 20px;
}

.email p{
  font-size: 1.8ch;
  margin-left: 38.5%;
}

.email a:visited{
 
  text-decoration: none;
}
.twitter{
  margin-left: 4%;
}
.twitter p
{
margin-left: 10%;
font-size: 2ch;

}


footer img{
  margin-left: 45%;
  padding: 5px;
  transition: transform 1s; 
}

footer img:hover{
  transform: scale(1.2);
}
#findme
{
  margin-left: 34%;
  font-size: 2.50ch;
}
  .commentSection{
    background: #9c7d6e;
    padding-bottom: 10px ;
    padding-left: 15px;
  border: #9c7d6e;  
  border-radius: 20px;
  
  }
  .calender{
    margin-left: 8%;
  }
.calender p {
  margin-left: 16%;
}

