/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
    
}

nav{
 
    background: #3a3845;  
    height: 35vh;
    width: 100%;
    backdrop-filter: blur(60px);
  
}
nav ul {
    margin-top: 5%;
    margin-left: 40%;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}
nav h1{
    background:#3a3845 ;
    margin-left: -10%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6ch;
    font-weight: bold;
    
}
.cta {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: relative;
  margin: 1%;
  padding: 19px 22px;
  transition: all 0.2s ease;
  text-decoration: none;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #ffab9d;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.cta:visited{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* 2. Make nav sticky */
main > .section-nav {
	position: sticky;
	top: 10rem;
	align-self: start;
}

/* 3.*/
.section-nav li.active > a {
	color: rgb(172, 54, 54);
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid white;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
	transition: all 50ms ease-in-out; 
}

.section-nav a:hover,
.section-nav a:focus {
	color: rgb(255, 255, 255);
    position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;

}

/** Poor man's reset **/
* {
	box-sizing: border-box;
}

html, body {
	background: #9c7d6e;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}


/** page layout **/
main {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
  padding-bottom: 10rem ;
}


section {
	padding-bottom: 0rem;
}
.writings{
    text-decoration: none;
      background:#ffe2ce;

      margin-left: -30px;
      margin-right: 50px;
      margin-top: 10%;
      font-size: 2ch;
      padding: 20px 30px;
      border-color: black;
      border-radius: 20px;
     
  }
  html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    font-family: Avenir, sans-serif;
    color: #111;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
